# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Entornos virtuales
venv/
.venv/
env/
.env

# Django
*.sqlite3
local_settings.py
media/
staticfiles/
static/

# Secrets
*.env
.env.*
secrets.py

# IDE
.vscode/
.idea/
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log
